@import "../../../styles/colors.scss";
.detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 577px;
    margin: 40px 20px;
    padding: 20px;
    border: 2px solid $brand4;
    background: linear-gradient(180deg, rgba(17,17,17,1) 50%, rgba(58,121,9,1) 88%);
    color: $brand4;
    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin: 0 auto;
        box-shadow: rgba(35, 63, 14, 0.3) 0px 19px 38px,
        rgba(35, 63, 14, 0.22) 0px 15px 12px;
    }
    p {
        color: $brand4;
        span {
            color: #ffffff;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }

    ul {
        list-style: circle;
        li { margin-left: 30px; }
    }
}