@import "../../../styles/colors.scss";

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    &-wrapper {
        display: block;
        position: relative;
        padding: 10px;
        margin-top: 2rem;
        border-top: 10px solid  $brand2;
        border-bottom: 10px solid  $brand2;
        background-color: $brand3;

        &:before, &:after {
            content: '';
            top: 0;
            width: 10px;
            height: 100%;
            position: absolute;
            background: $brand2;
        }

        &:before { left: -10px; }
        &:after { right: -10px; }
    }

    .title {
        font-family: 'VT323', monospace;
        font-size: 5rem;
        color: $brand2;
    }
}