<p *ngIf="!gnomesByPagination">Loading...</p>
<div *ngIf="gnomesByPagination">
    <div class="list-actions">
        <app-search class="search-content" (searchTerm)="search($event)"></app-search>
        <app-filters class="filters-content" (selectedFilter)="setOrder($event)"></app-filters>
    </div>
    <ul class="list" *ngIf="gnomesByPagination.length > 0">
        <li class="properties">
            <span>Image</span>
            <span class="name">Name</span>
            <span>Age</span>
            <span>Weight</span>
            <span>Height</span>
            <span>Hair</span>
            <span>Action</span>
        </li>
        <li class="list-gnome" *ngFor="let gnome of gnomesByPagination[currentPag]; let i = index">
            <div class="list-gnome-row">
                <img alt="{{ gnome.name }}" class="list-gnome-img" src="{{ gnome.thumbnail }}">
                <p class="name">{{ gnome.id + 1 }} - {{ gnome.name }}</p>
                <p>{{ gnome.age }}</p>
                <p>{{ gnome.weight.toFixed(2) }}</p>
                <p>{{ gnome.height.toFixed(2) }}</p>
                <p>{{ gnome.hair_color }}</p>
                <button (click)="showDetail(gnome)">View detail</button>
            </div>
        </li>
    </ul>

    <ul class="list" *ngIf="gnomesByPagination.length === 0">
        <li class="list-gnome">No results</li>
    </ul>

    <p class="pag-text">Showing {{ this.currentPag + 1 }} pag of {{ gnomesByPagination.length }}</p>
    <button class="goToFirstPag" (click)="goToPag('first')">First</button>
    <button class="prevPag" (click)="prevPag()">Previous</button>
    <button class="nextPag" (click)="nextPag()">Next</button>
    <button class="goToLastPag" (click)="goToPag('last')">Last</button>
</div>


