@import "./styles/reset.scss";
@import "./styles/colors.scss";

body {
    font-family: 'Roboto Mono', monospace;
    background: rgb(138,79,255);
    background: radial-gradient(circle, rgba(138,79,255,1) 12%, rgba(195,190,247,1) 71%);
    min-height: 100vh;
}

button {
    background-color: $brand1;
    color: $brand2;
    border: 2px solid $brand2;
    padding: 10px;
    font-size: 1rem;
    cursor:pointer;
    transition: background-color 0.5s;
    &:hover {
        background-color: $brand2;
        color: $brand4;
        transition: background-color 0.5s;
    }
}