@import "./styles/reset.scss";
@import "./styles/colors.scss";

body {
    font-family: 'Roboto Mono', monospace;
    background: rgb(239,255,250);
    background: radial-gradient(circle, rgba(239,255,250,1) 12%, rgba(255,255,255,1) 71%);
    min-height: 100vh;
}

button {
    background-color: $brand1;
    color: $brand2;
    border: 2px solid $brand2;
    padding: 10px;
    font-size: 1rem;
    min-width: 80px;
    margin-right: 5px;
    cursor:pointer;
    transition: background-color 0.5s;
    &:hover, &.selected {
        background-color: $brand2;
        color: $brand4;
        transition: background-color 0.5s;
    }
}